body {
    
    background-image: linear-gradient(135deg, #0038FF, #E48F41);
    height: 100vh;
}

#foto {
    background-image: url(assets/photos/WhatsApp\ Image\ 2025-01-12\ at\ 4.25.00\ PM.jpeg);
    height: 255px;
    width: 255px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
h1 {
    color: #FFFFFF;
    font-family: "Open Sans", serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 33px 0px 27px 0px;
    text-align: center;
}

.buttonSocial {
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 255px;
    margin-bottom: 27px;
    background-color: #00000020;
    color: #161414;
    font-weight: 500;
    font-size: 1.125rem;
    cursor: pointer;
    padding-left: 35px ;

    img{
        height: 24px;
    }

    p{
        font-size: 1.125rem;
        padding-left: 15px;
    }
}
.instaButton {
    background-color: #00000070; 
}

#contentParent {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}